# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [229]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [230]:
!wget https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2022/homeworks/Data.zip
!unzip Data.zip

--2022-02-10 19:46:21--  https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2022/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip.16’

Data.zip.16         100%[===================>]  16.33K  --.-KB/s    in 0.001s

2022-02-10 19:46:21 (12.9 MB/s) - ‘Data.zip.16’ saved [16727/16727]

Archive:  Data.zip
replace Data/Students_info_0.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [237]:
first = pd.read_csv("Data/Students_info_0.csv")
second = pd.read_csv("Data/Students_info_1.csv")
third = pd.read_csv("Data/Students_info_2.csv")
forth = pd.read_csv("Data/Students_info_3.csv")
five = pd.read_csv("Data/Students_info_4.csv")
six = pd.read_csv("Data/Students_info_5.csv")
seven = pd.read_csv("Data/Students_info_6.csv")
eight = pd.read_csv("Data/Students_info_7.csv")
nine = pd.read_csv("Data/Students_info_8.csv")
ten = pd.read_csv("Data/Students_info_9.csv")
first_ = pd.read_csv("Data/Students_marks_0.csv")
second_ = pd.read_csv("Data/Students_marks_1.csv")
third_ = pd.read_csv("Data/Students_marks_2.csv")
forth_ = pd.read_csv("Data/Students_marks_3.csv")
five_ = pd.read_csv("Data/Students_marks_4.csv")
six_ = pd.read_csv("Data/Students_marks_5.csv")
seven_ = pd.read_csv("Data/Students_marks_6.csv")
eight_ = pd.read_csv("Data/Students_marks_7.csv")
nine_ = pd.read_csv("Data/Students_marks_8.csv")
ten_ = pd.read_csv("Data/Students_marks_9.csv")

In [238]:
first = first.merge(first_, on=('index'))
second = second.merge(second_, on=('index'))
third = third.merge(third_, on=('index'))
forth = forth.merge(forth_, on=('index'))
five = five.merge(five_, on=('index'))
six = six.merge(six_, on=('index'))
seven = seven.merge(seven_, on=('index'))
eight = eight.merge(eight_, on=('index'))
nine = nine.merge(nine_, on=('index'))
ten = ten.merge(ten_, on=('index'))
df = pd.concat([first, second, third, forth, five, six, seven, eight, nine, ten], ignore_index = True)

In [239]:
df

     index  gender race/ethnicity  ... math score reading score writing score
0        0  female        group B  ...         72            72            74
1        1  female        group C  ...         69            90            88
2        2  female        group B  ...         90            95            93
3        3    male        group A  ...         47            57            44
4        4    male        group C  ...         76            78            75
..     ...     ...            ...  ...        ...           ...           ...
995    995  female        group E  ...         88            99            95
996    996    male        group C  ...         62            55            55
997    997  female        group C  ...         59            71            65
998    998  female        group D  ...         68            78            77
999    999  female        group D  ...         77            86            86

[1000 rows x 10 columns]

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [240]:
df = df.drop(columns = ['index'])
df[:10]

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75
5  female        group B  ...            83            78
6  female        group B  ...            95            92
7    male        group B  ...            43            39
8    male        group D  ...            64            67
9  female        group B  ...            60            50

[10 rows x 9 columns]

#### Задание 3. Выведите на экран размеры полученной таблицы

In [244]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [250]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [247]:
if (df.isnull().any().any()):
  print("Yes")
else:
  print("No")

No

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [252]:
import numpy as np

In [253]:
numbers = df.select_dtypes(include = ['int64'])

numbers.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [254]:
preps = df["test preparation course"].isin(["completed"])
no_prep = df["test preparation course"].isin(["none"])
print("With prep:\n",df[preps].mean())
print("\nWithout prep:\n",df[no_prep].mean())

With prep:
 math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

Without prep:
 math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [255]:
pd.unique(df["lunch"])

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [256]:
df.rename(columns={"parental level of education" : "education", "test preparation course" : "test preparation"}, inplace = True)
df

     gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 9 columns]

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [257]:
print("Share of passed: ", len(df[df["math score"] >= 50]) / len(df))
preps = df["test preparation"].isin(["completed"])
print("Share of passed with prep: ", len(df[preps]["math score"] >= 50) / len(df[preps]))
woman = df.loc[df["test preparation"] == "none"]
woman = woman.loc[woman["gender"] == "female"]
print("Woman not passed without prep: ", len(woman[woman["math score"] < 50]) / len(woman))

Share of passed:  0.865
Share of passed with prep:  1.0
Woman not passed without prep:  0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [258]:
import time

In [259]:
start = time.time()
print(df.groupby('race/ethnicity').mean()["reading score"])
print("Time: ", time.time() - start)

print()

start = time.time()
print(df.groupby('education').min()["writing score"])
print("Time: ", time.time() - start)

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
Time:  0.009105205535888672

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
Time:  0.016002893447875977

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [260]:
start = time.time()
groups = []
for i in range (10):
  groups.append(0)
for index, row in df.iterrows():
  group = row['race/ethnicity']
  score = row['reading score']
  if (group == "group A"):
    groups[0] += 1.
    groups[5] += score
  else:
    if (group == "group B"):
      groups[1] += 1.
      groups[6] += score
    else:
      if (group == "group C"):
        groups[2] += 1.
        groups[7] += score
      else:
        if (group == "group D"):
          groups[3] += 1.
          groups[8] += score
        else:
          if (group == "group E"):
            groups[4] += 1.
            groups[9] += score
print("Group A: ", groups[5] / groups[0], "\nGroup B: ", groups[6] / groups[1], "\nGroup C: ", groups[7] / groups[2], "\nGroup D: ", groups[8] / groups[3], "\nGroup E: ", groups[9] / groups[4])
print("Time: ", time.time() - start)

print()

start = time.time()
groups = []
for i in range (6):
  groups.append(110)
for index, row in df.iterrows():
  group = row['education']
  score = row['writing score']
  if (group == "associate's degree"):
    if (groups[0] > score):
      groups[0] = score
  else:
    if (group == "bachelor's degree"):
      if (groups[1] > score):
        groups[1] = score
    else:
      if (group == "high school"):
        if (groups[2] > score):
          groups[2] = score
      else:
        if (group == "master's degree"):
          if (groups[3] > score):
            groups[3] = score
        else:
          if (group == "some college"):
            if (groups[4] > score):
              groups[4] = score
          else:
            if (group == "some high school"):
              if (groups[5] > score):
                groups[5] = score
print("associate's degree: ", groups[0], "\nbachelor's degree: ", groups[1], "\nhigh school: ", groups[2], "\nmaster's degree: ", groups[3], "\nsome college: ", groups[4], "\nsome high school: ", groups[5])
print("Time: ", time.time() - start)

Group A:  64.67415730337079
Group B:  67.35263157894737
Group C:  69.10344827586206
Group D:  70.03053435114504
Group E:  73.02857142857142
Time:  0.05597734451293945

associate's degree:  35
bachelor's degree:  38
high school:  15
master's degree:  46
some college:  19
some high school:  10
Time:  0.05405378341674805

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [261]:
df.groupby(["gender", "education"]).mean()

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [262]:
df["Math_PassStatus"] = np.where(df["math score"] >= 50, "P", "F")
df["Reading_PassStatus"] = np.where(df["reading score"] >= 50, "P", "F")
df["Writing_PassStatus"] = np.where(df["writing score"] >= 50, "P", "F")

print("Passed math: ", len(df.loc[df["Math_PassStatus"] == "P"]), ", not passed: ", len(df) - len(df.loc[df["Math_PassStatus"] == "P"]))
print("Passed reading: ", len(df.loc[df["Reading_PassStatus"] == "P"]), ", not passed: ", len(df) - len(df.loc[df["Reading_PassStatus"] == "P"]))
print("Passed writing: ", len(df.loc[df["Writing_PassStatus"] == "P"]), ", not passed: ", len(df) - len(df.loc[df["Writing_PassStatus"] == "P"]))

Passed math:  865 , not passed:  135
Passed reading:  910 , not passed:  90
Passed writing:  886 , not passed:  114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [263]:
df["OverAll_PassStatus"] = np.where((df["Math_PassStatus"] == "F") | (df["Reading_PassStatus"] == "F") | (df["Writing_PassStatus"] == "F"), "F", "P")
print(len(df[df["OverAll_PassStatus"] == "P"]))

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(average_mark):
  return np.where(average_mark > 90, "A", np.where(average_mark > 80, "B", np.where(average_mark > 70, "C", np.where(average_mark > 60, "D", "F"))))

In [269]:
df["Grade"] = GetGrade((df["math score"] + df["reading score"] + df["writing score"]) / 3.)
df["Grade"].value_counts()

F    293
D    260
C    253
B    144
A     50
Name: Grade, dtype: int64